<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - QuizQueue</title>
<link rel="stylesheet" href="static\about_us.css">
</head>

<body>
    <header class="header1">
        <div class="another_container">
            <div class="logo">
                <a href="/"><img src="static\Logo (1).png" alt="QuizQueue Logo"></a>
            </div>
            <nav>
                <a href="/about_us">About us</a>
            </nav>
        </div>
    </header>
    <div class="container">
    <h2 class="header">Meet Our Team</h2>
    <div class="header_des">We are a dedicated team of professionals who brought QuizQueue to life. Each member plays a crucial role in the development and success of our project. Learn more about us below:</div>
    <div class="members">
        <div class="right">
            <div class="image">
                <img src="static\binoy-removebg-preview.png" alt="Binoy Saha">
                <div class="name">Binoy Saha</div>
            </div>
            <div class="vertical_line"></div>
            <div class="description">I led the design and development of QuizQueue, focusing on creating a user-friendly experience through iterative prototypes. Initially, I integrated the Google Forms API to enable manual input of questions via a command prompt. Enhancing functionality, I incorporated Google Gemini to auto-generate questions while maintaining the simplicity of the command line interface. Using Figma, I then crafted detailed designs to ensure intuitive navigation and visual appeal. Finally, I coded a responsive web interface, transforming the designs into a seamless, interactive application. My goal was to make QuizQueue as easy and accessible as possible for users at every step.</div>
        </div>
        <div class="left">
            <div class="image">
                <img src="static\profile.jpeg" alt="Priyanka Jha">
                <div class="name">Priyanka Jha</div>
            </div>
            <div class="vertical_line"></div>
            <div class="description"></div>
        </div>
        <div class="right">
            <div class="image">
                <img src="" alt="Khusi Gupta">
                <div class="name">Khusi Gupta</div>
            </div>
            <div class="vertical_line"></div>
            <div class="description"></div>
        </div>
        <div class="left">
            <div class="image">
                <img src="" alt="Sanchita Murmu">
                <div class="name">Sanchita Murmu</div>
            </div>
            <div class="vertical_line"></div>
            <div class="description"></div>
        </div>
        <div class="right">
            <div class="image">
                <img src="static\XE19JELQ_output_0-removebg-preview.png" alt="Pathik">
                <div class="name">Pathik</div>
            </div>
            <div class="vertical_line"></div>
            <div class="description"></div>
        </div>
    </div>
</div>
    <footer class="footer">
        <div class="container1">
            <a href="/about_us">About us</a>
            <a href="/about_project">About project</a>
            <p>© 2024 QuizQueue. All rights reserved.</p>
            <a href="/privacy_policy">Privacy policy</a>
        </div>
    </footer>
</body>
</html>